/*
 * Styles specific to this particular theme,
 * based on the main BYU theme.
 *
 */


/*===========================*
  Header
 *===========================*/

/* Page title */
.up #portalLogo h1 {
  font-size: 2.25em;
  position: relative;
  top:.75em;
  left:.5em;
  a {
    font-family: 'Droid Serif', 'Chaparral Pro', Georgia, serif;
  }
}

/* Header height and background */
.up #portalPageHeader {
  height:78px;
  background-color:$blue1;
  @include background(image-url("byu-header-bg.svg"));
}

/* Top links */
.up #portalPageHeader #portalPageBar #portalPageBarLinks {
  a {
    border-right: none;
    font-size: 14px;
    color: $blue7;
    padding: .1em 1.1em .2em;
    font-weight: 600;
    &:hover {
      text-decoration: none;
    }
  }
  .link-home, .link-sitemap {
    display: none;
  }
  .link-logout a {
    color: $blue9;
  }
  .link-help {
    position: absolute;
    top: 81px;
    z-index: 100;
    right: 0;
    a:hover {
      color: #fff !important;
    }
  }
}

/* Welcome, Name */
.up #portalPageHeader #portalWelcome {
  right: 6.5em;
  top:.6em;
  font-weight: 600;
  font-size: 14px;
}

/* Log out button */
.link-logout a {
  position: relative;
  top:.25em;
  color: white;
  display: block;
  background: $blue5;
  @include background(linear-gradient($blue5, $blue4));
  @include text-shadow(0px -1px 0px $blue3);
  border-radius: 14px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset,0 1px 8px rgba(0, 0, 0, 0.2);
  float: left;
  margin-right: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  border:none;
  font-family: inherit;
  line-height:1.5;
  font-weight: 600;
}

.link-logout a:hover {
  color: #fff !important;
  background: $blue4;
  @include background(linear-gradient($blue4, $blue3));
}




/*===========================*
  Menu and Gallery
 *===========================*/

/* Menu bar */
#portalNavigationInner {
  background: #001948;
  padding-right: 5em;
  //@include clearfix();
}

.up #portalNavigation #portalNavigationList {
	font-size: 14px;
	float:left;
}

.up #portalNavigation .portal-navigation-link,
.up #portalNavigation a.portal-navigation-add {
  margin-top:-2px;
  @include border-radius(3px 3px 0 0);
  color:$blue7;
}

.up #portalNavigation .portal-navigation:hover .portal-navigation-link,
.up #portalNavigation .portal-navigation:focus .portal-navigation-link,
.up #portalNavigation .active .portal-navigation-link,
.up #portalNavigation a.portal-navigation-add:hover,
.up #portalNavigation a.portal-navigation-add:focus {
  @include background(linear-gradient(top, $blue4, $blue3));
  color: #fff;
}

.fl-theme-mist .fl-tabs li.fl-tabs-active, .fl-theme-mist .fl-tabs li.fl-tabs-active:hover, .fl-theme-mist .fl-tabs li.fl-activeTab, .fl-theme-mist .fl-tabs li.fl-activeTab:hover {
  background-color: transparent;
}

.up #portalNavigation a.portal-navigation-add {
  position: static;
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-image: none;
  padding:8px 20px;
  display: inline-block;
  &:before {
    content: "+ ";
  }
}


/* Dropdowns */
.up #portalNavigation .portal-flyout-container {
  font-size: 14px;
  background-color: #fff;
  border:none;
  border-bottom: 3px solid $blue4;
  @include box-shadow(0px 1px 10px rgba(0,0,0,.25));
  padding-top: .25em;
  li {
    border:none;
    background-color: transparent;
    margin-right: 0;
    a {
      background-image: none;
      color: $blue4;
      font-weight: 600;
      padding:.4em 1em .4em 1.25em;
      &:hover {
        background-image: none;
        background: $blue2;
        color: #fff;
      }
    }
  }
}


/*===========================*
  Body
 *===========================*/

/* Body background image */
.up #portalPage {
  background: url("images/body-linen.png") repeat scroll 0 0 transparent;
}

/* Padding on content */
.up #portalPageBodyInner {
  padding: 2.5em 1.75em;
}

/* Gallery ('customize' bar) */
.up .up-gallery {
  border:none;
  background: none;
  .menu {
    background: none;
  }
  .gallery-inner {
    border-bottom: 1px solid $blue0;
    @include box-shadow(0px 1px 5px rgba(0,0,0,0.25));
    padding-top:0;
  }
  .handle {
    background:none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    clear: both;
    a {
      font-size: 11px;
      margin-left: 0;
      margin-right: 25px;
      right: 0px;
      background-color: rgba(255,255,255,0.5);
    }
  }
}







/*===========================*
  Portlets
 *===========================*/
 
/* Portlet header bar */
.up .up-portlet-wrapper .up-portlet-titlebar {
    background-color: $blue3;
    @include background(linear-gradient(top, $blue4, $blue3));
    border-bottom:1px solid #ddd;
    h2 a {
      color: $blue9;
    }
}

/* Padding inside portlets */
.up .up-portlet-wrapper .up-portlet-content-wrapper {
  padding:1em 2em 1.25em;
}






/*===========================*
  Footer
 *===========================*/
a[title="BeSafe"] {
  display:none;
}

.up #portalPageFooter {
  background: transparent;
}




/*===========================*
  Page Resize
 *===========================*/
 
.up #portalPage {
  min-width: auto;
}

@media all and (max-width:700px) {
  .up #portalPageBodyColumns .portal-page-column {
    float:none;   
  }
  .up .up-portlet-wrapper .up-portlet-content-wrapper {
    padding:1em;
  }
  
  .up #portalPageBodyInner {
    padding: 2.5em 1em;
  }

}


@media all and (max-width:500px) {
  #portalNavigationInner {
    padding-right: 1em;
    @include clearfix();
  }
  .up #portalPageHeader #portalPageBar #portalPageBarLinks .link-help,
  .up #portalPageHeader #webSearchContainer,
  .up .up-gallery,
  .up #portalNavigation a.portal-navigation-add,
  .up #portalNavigation .portal-flyout-container,
  .up #portalPageHeader #portalWelcome {
    display: none !important;
  }
  .up #portalPageHeader {
    height:50px;
  }
  .up #portalLogo h1 {
    font-size: 1.75em;
    top:.25em;
  }
  .up #portalPageHeader #portalPageBar #portalPageBarLinks a {
    font-size: 13px;
    top:.75em;
  }
}

